# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://sdmdgagmsvkifyuhlthj.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNkbWRnYWdtc3ZraWZ5dWhsdGhqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzgxNjYwNzQsImV4cCI6MjA5Mzc0MjA3NH0.SAix8oLEGZfzIxIVsIexbwxD3NsFJPk_FgS4pdukyxI

# Default Admin
NEXT_PUBLIC_ADMIN_EMAIL=admin@gianditextile.com
